*{
    margin:0;
    padding : 0;
    font-family: 'poppins', sans-serif; 
    box-sizing: border-box;
}

 
body{
    background: #000000;
    color: #ffffff;

 
}

#header{
    width : 100%;
    height: 100vh;
     background-image: URL(images/background.png) ;
    background-size: cover;
    background-position: center;
}
   
.container{
    padding: 10px 10%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
    

}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content : '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.3s;

}
nav ul li a:hover::after{
    width:100%

}
.header-text h2{
    margin-top: 2%;
    font-size: 30px;
}
.header-text h1 {
    font-size: 80px;
    margin-top: 20%;
}

.header-text h2 span{
    color:#ff004f
}

/* <!-- -----------------------about ------------------ --> */

#about{
    padding: 80px 0;
    color: #ababab;
    

}
.paragraph{
    text-align: justify;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.about-1{
    flex-basis:35%;

}
.about-1 img{
    width:100%;
    border-radius: 15px;

    
}

.about-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fffefe;

}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position : relative;
}

.tab-links::after{
    content : '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.3s;
}


.tab-links.active-link::after{
    width:50%
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* -------------------- projects --------------------- */

#projects{
    padding:30px 0;
}

.projet-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.projet-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;

}

.projet-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.projet-list div a{
    text-decoration: none;
    color: #fff; 
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}
.projet-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);


}